<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/main.css"> <!-- Enlace al archivo CSS -->
    <script src="../assets/main.js" defer></script> <!-- Enlace al archivo JavaScript con atributo "defer" -->
    <title>Inicio</title> <!-- Título de la página -->
</head>
<body>
    <header>
        <h1>El Tacón de Oro</h1> <!-- Título principal -->
        <nav class="navbar" id="navbar">
            <div class="navbar-content">
                <a href="../index.html">Inicio</a> <!-- Enlace a la página de inicio -->
                <a href="aboutUs.html">Acerca de Nosotros</a> <!-- Enlace a la página "Acerca de Nosotros" -->
                <a href="help.html">Ayuda</a> <!-- Enlace a la página de ayuda -->
                <a href="blog.html">Blog</a> <!-- Enlace a la página del blog -->
            </div>
        </nav>
        <div>
            <a href="reg.html"><button class="reg">Registrarse</button></a> <!-- Botón de registro -->
        </div>
        <button id="menuButton" class="menu">
            <img src="../assets/img/menu.png" alt=""> <!-- Botón del menú desplegable con icono -->
        </button>
        <div class="menu-content" id="menuContent"> <!-- Contenido del menú desplegable -->
            <a class="menu-link" href="../index.html">Inicio</a> <!-- Enlace a la página de inicio en el menú desplegable -->
            <a class="menu-link" href="aboutUs.html">Acerca de Nosotros</a> <!-- Enlace a la página "Acerca de Nosotros" en el menú desplegable -->
            <a class="menu-link" href="help.html">Ayuda</a> <!-- Enlace a la página de ayuda en el menú desplegable -->
            <a class="menu-link" href="blog.html">Blog</a> <!-- Enlace a la página del blog en el menú desplegable -->
            <a class="menu-link" href="reg.html"><button>Registrarse</button></a> <!-- Botón de registro en el menú desplegable -->
        </div>
    </header>
    <main class="sobre">
        <article>
            <h1>Nuestra Historia</h1> <!-- Título del primer artículo -->
            <p>El Tacón de Oro fue fundada hace más de dos décadas por una apasionada amante de la moda, María López. Con una visión de ofrecer productos de moda asequibles sin comprometer la calidad, comenzó su aventura en la industria del calzado y la moda. A lo largo de los años, nuestra tienda ha crecido y evolucionado, adaptándose a las últimas tendencias y las necesidades cambiantes de nuestros clientes.</p>
        </article>

        <article>
            <h1>Nuestra Misión</h1> <!-- Título del segundo artículo -->
            <p>En El Tacón de Oro, nuestra misión es proporcionar a nuestros clientes una experiencia de compra excepcional. Nos esforzamos por ofrecer una amplia gama de productos elegantes y de calidad que se adaptan a diversos estilos y ocasiones. Ya sea que busques el par de zapatos perfecto para una ocasión especial, un bolso que complemente tu atuendo diario o accesorios que te ayuden a destacar, tenemos lo que necesitas.</p>
        </article>

        <article>
            <h1>Nuestras Tiendas</h1> <!-- Título del tercer artículo -->
            <p>Además de nuestra vibrante presencia en línea, también operamos varias tiendas físicas en todo el país. Estas tiendas no solo te ofrecen la oportunidad de explorar y probar nuestros productos en persona, sino que también brindan un ambiente acogedor y amigable donde puedes recibir asesoramiento experto de nuestro personal dedicado.</p>
        </article>

        <article>
            <h1>Compromiso con la Sostenibilidad</h1> <!-- Título del cuarto artículo -->
            <p>En El Tacón de Oro, creemos en la importancia de la sostenibilidad y la responsabilidad ambiental. Nos esforzamos por utilizar materiales respetuosos con el medio ambiente en la fabricación de nuestros productos y trabajamos continuamente para reducir nuestro impacto en el medio ambiente.</p>
        </article>

        <article>
            <h1>Contáctanos</h1> <!-- Título del quinto artículo -->
            <p>Estamos aquí para ayudarte en cada paso del camino. Si tienes alguna pregunta, comentario o inquietud, no dudes en ponerte en contacto con nuestro equipo de atención al cliente. Valoramos tus opiniones y estamos comprometidos a brindarte el mejor servicio posible.</p>
        </article>
    </main>
    <footer>
        <div class="footer-content">
            <div class "footer-section">
                <h3>Enlaces Rápidos</h3> <!-- Título de la primera sección del pie de página -->
                <ul class="directos">
                    <li><a href="#tacon">El Tacón de Oro</a></li> <!-- Enlace a la sección "El Tacón de Oro" -->
                    <li><a href="#piel">La Piel</a></li> <!-- Enlace a la sección "La Piel" -->
                    <li><a href="#productos">Productos</a></li> <!-- Enlace a la sección "Productos" -->
                    <li><a href="#tiendas">Tiendas</a></li> <!-- Enlace a la sección "Tiendas" -->
                </ul>
            </div>
        
            <div class="footer-section">
                <h3>Síguenos en Redes Sociales</h3> <!-- Título de la segunda sección del pie de página -->
                <ul class="social-icons">
                    <li><a href="#"><img src="../assets/img/facebook.webp" alt="Facebook"></a></li> <!-- Enlace a la página de Facebook -->
                    <li><a href="#"><img src="../assets/img/instagram.png" alt="Instagram"></a></li> <!-- Enlace a la página de Instagram -->
                    <li><a href="#"><img src="../assets/img/twitter.png" alt="Twitter"></a></li> <!-- Enlace a la página de Twitter -->
                </ul>
            </div>
            <div class="copyright">
                <p>&copy; 2023 El Tacón de Oro. Todos los derechos reservados.</p> <!-- Aviso de derechos de autor -->
            </div>
        </div>
        
    </footer>
</body>
</html>
