<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/main.css"> <!-- Enlace a la hoja de estilos CSS en un directorio superior -->
    <script src="../assets/main.js" defer></script> <!-- Enlace al script JavaScript con el atributo "defer" en un directorio superior -->
    <title>Inicio</title> <!-- Establece el título de la página en la pestaña del navegador -->
</head>
<body>
    <header>
        <h1>El Tacón de Oro</h1> <!-- Encabezado principal con el nombre del sitio -->
        <nav class="navbar" id="navbar">
            <div class="navbar-content">
                <a href="../index.html">Inicio</a> <!-- Enlace a la página de inicio en un directorio superior -->
                <a href="aboutUs.html">Acerca de Nosotros</a> <!-- Enlace a la página "Acerca de Nosotros" en el mismo directorio -->
                <a href="help.html">Ayuda</a> <!-- Enlace a la página de ayuda en el mismo directorio -->
                <a href="blog.html">Blog</a> <!-- Enlace a la página de blog en el mismo directorio -->
            </div>
        </nav>
        <div>
            <a href="reg.html"><button class="reg">Registrarse</button></a> <!-- Enlace y botón para registrarse en el mismo directorio -->
        </div>
        <button class="menu" id="menuButton">
            <img src="../assets/img/menu.png" alt="">
        </button>
        <div class="menu-content" id="menuContent">
            <a class="menu-link" href="../index.html">Inicio</a> <!-- Enlace a la página de inicio en el menú desplegable en un directorio superior -->
            <a class="menu-link" href="aboutUs.html">Acerca de Nosotros</a> <!-- Enlace a la página "Acerca de Nosotros" en el menú desplegable en el mismo directorio -->
            <a class="menu-link" href="help.html">Ayuda</a> <!-- Enlace a la página de ayuda en el menú desplegable en el mismo directorio -->
            <a class="menu-link" href="blog.html">Blog</a> <!-- Enlace a la página de blog en el menú desplegable en el mismo directorio -->
            <a href="reg.html"><button class="menu-link">Registrarse</button></a> <!-- Enlace y botón para registrarse en el menú desplegable en el mismo directorio -->
        </div>
    </header>
    <aside>
        <!-- Barra lateral con filtros y tipos de productos -->
        <div>
            <h4>Filtros</h4> <!-- Título de la sección de filtros -->
            <select>
                <option>Por Mayor Precio</option> <!-- Opción para filtrar por mayor precio -->
                <option>Por Menor Precio</option> <!-- Opción para filtrar por menor precio -->
                <option>Orden Alfabetico Asc</option> <!-- Opción para orden alfabético ascendente -->
                <option>Orden Alfabetico Des</option> <!-- Opción para orden alfabético descendente -->
            </select>
        </div>
        <div>
            <h4>Tipos</h4> <!-- Título de la sección de tipos de productos -->
            <article class="tipos">
                <a href="#">Zapatos</a> <!-- Enlace a la página de zapatos en el mismo directorio -->
                <a href="#">Bolsos</a> <!-- Enlace a la página de bolsos en el mismo directorio -->
                <a href="#">Accesorios</a> <!-- Enlace a la página de accesorios en el mismo directorio -->
            </article>

            <button class="menu" id="menuFilter">
                <img src="../assets/img/menu.png" alt="">
            </button>
            <div class="menu-filter-content" id="menuFilterContent">
                <a class="menu-link" href="#">Zapatos</a> <!-- Enlace a la página de zapatos en el menú desplegable en el mismo directorio -->
                <a class="menu-link" href="#">Bolsos</a> <!-- Enlace a la página de bolsos en el menú desplegable en el mismo directorio -->
                <a class="menu-link" href="#">Accesorios</a> <!-- Enlace a la página de accesorios en el menú desplegable en el mismo directorio -->
            </div>
        </div>
    </aside>
    <main class="tienda">
        <!-- Contenido principal de la tienda -->
        <div class="productos">
            <!-- Sección de productos -->
            <article>
                <img src="../assets/img/tacones.jpg" alt="Calzado">
                <p>Calzado</p> <!-- Tipo de producto -->
                <p>Descripcion</p> <!-- Descripción del producto -->
                <p class="precio">Precio: 80€</p> <!-- Precio del producto -->
                <button class="comprar">Comprar</button> <!-- Botón para comprar el producto -->
            </article>
            <article>
                <img src="../assets/img/bolso.jpg" alt="Bolsos">
                <p>Bolsos</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/pulsera.jpg" alt="Accesorios">
                <p>Accesorios</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article><article>
                <img src="../assets/img/tacones.jpg" alt="Calzado">
                <p>Calzado</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/bolso.jpg" alt="Bolsos">
                <p>Bolsos</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/pulsera.jpg" alt="Accesorios">
                <p>Accesorios</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article><article>
                <img src="../assets/img/tacones.jpg" alt="Calzado">
                <p>Calzado</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/bolso.jpg" alt="Bolsos">
                <p>Bolsos</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/pulsera.jpg" alt="Accesorios">
                <p>Accesorios</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/tacones.jpg" alt="Calzado">
                <p>Calzado</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/bolso.jpg" alt="Bolsos">
                <p>Bolsos</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/pulsera.jpg" alt="Accesorios">
                <p>Accesorios</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article><article>
                <img src="../assets/img/tacones.jpg" alt="Calzado">
                <p>Calzado</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/bolso.jpg" alt="Bolsos">
                <p>Bolsos</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/pulsera.jpg" alt="Accesorios">
                <p>Accesorios</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article><article>
                <img src="../assets/img/tacones.jpg" alt="Calzado">
                <p>Calzado</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/bolso.jpg" alt="Bolsos">
                <p>Bolsos</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/pulsera.jpg" alt="Accesorios">
                <p>Accesorios</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/tacones.jpg" alt="Calzado">
                <p>Calzado</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/bolso.jpg" alt="Bolsos">
                <p>Bolsos</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/pulsera.jpg" alt="Accesorios">
                <p>Accesorios</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article><article>
                <img src="../assets/img/tacones.jpg" alt="Calzado">
                <p>Calzado</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/bolso.jpg" alt="Bolsos">
                <p>Bolsos</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/pulsera.jpg" alt="Accesorios">
                <p>Accesorios</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article><article>
                <img src="../assets/img/tacones.jpg" alt="Calzado">
                <p>Calzado</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/bolso.jpg" alt="Bolsos">
                <p>Bolsos</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
            <article>
                <img src="../assets/img/pulsera.jpg" alt="Accesorios">
                <p>Accesorios</p>
                <p>Descripcion</p>
                <p class="precio">Precio: 80€</p>
                <button class="comprar">Comprar</button>
            </article>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Enlaces Rápidos</h3> <!-- Título de la sección de enlaces rápidos -->
                <ul class="directos">
                    <li><a href="#tacon">El Tacón de Oro</a></li> <!-- Enlace rápido a la sección "El Tacón de Oro" (debería coincidir con un elemento con el id "tacon", pero no está presente en este fragmento de HTML) -->
                    <li><a href="#piel">La Piel</a></li> <!-- Enlace rápido a la sección "La Piel" (debería coincidir con un elemento con el id "piel", que está presente en este fragmento de HTML) -->
                    <li><a href="#productos">Productos</a></li> <!-- Enlace rápido a la sección de productos (debería coincidir con un elemento con el id "productos", pero no está presente en este fragmento de HTML) -->
                    <li><a href="#tiendas">Tiendas</a></li> <!-- Enlace rápido a la sección de tiendas (debería coincidir con un elemento con el id "tiendas", que está presente en este fragmento de HTML) -->
                </ul>
            </div>
        
            <div class="footer-section">
                <h3>Síguenos en Redes Sociales</h3> <!-- Título de la sección de redes sociales -->
                <ul class="social-icons">
                    <li><a href="#"><img src="../assets/img/facebook.webp" alt="Facebook"></a></li> <!-- Enlace e icono de Facebook en un directorio superior -->
                    <li><a href="#"><img src="../assets/img/instagram.png" alt="Instagram"></a></li> <!-- Enlace e icono de Instagram en un directorio superior -->
                    <li><a href="#"><img src="../assets/img/twitter.png" alt="Twitter"></a></li> <!-- Enlace e icono de Twitter en un directorio superior -->
                </ul>
            </div>
            <div class="copyright">
                <p>&copy; 2023 El Tacón de Oro. Todos los derechos reservados.</p> <!-- Derechos de autor y año -->
            </div>
        </div>
        
    </footer>
</body>
</html>